{% extends 'base.html.twig' %}
{# @controller AppBundle:User:main #}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Main</h1>
            {% if is_granted('ROLE_APPROVED') %}
                <ul class="nav nav-tabs">
                    {% for c in clients %}
                        {% set active = "" %}
                        {% if client and client.id == c.id %}
                            {% set active = "class=active" %}
                        {% endif %}

                        <li role="presentation" {{ active }}>
                            <a href="{{ path('main', {'client_id': c.id }) }}">
                                <img src="{{ c.picture }}" class="img-circle" width="20" height="20">
                                {{ c.email }}</a>
                        </li>
                    {% endfor %}
                    {% if authUrl %}
                        <li role="presentation">
                            <a href="{{ authUrl }}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Connect google account</a></li>
                    {% endif %}
                </ul>
                {% if form is defined %}
                    {{ form_start(form) }}
                    <div class="container">
                        <div class="row">
                            <div class="col-offset col-md-4">
                                {{ form_label(form.websites) }}
                                <div class="input-group">
                                    {{ form_widget(form.websites) }}
                                    <span class="input-group-btn">
                                    <input type="submit" value="submit" class="btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                {% endif %}

                {% if grid %}
                    <div class="container c">
                        <div class="row">
                            <div id="chart_div"></div>
                        </div>
                        <div class="row">
                            <div class="container" style="margin-top: 50px;">
                                {{ grid.render }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <p>You a not approved by admin yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="{{ asset('assets/vendor/mesour/mesour.grid.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
{% endblock %}

{% block javascripts %}
    <!-- Google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            google.charts.load('current', {'packages': ['line', 'corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Date');
                data.addColumn('number', "Clicks");
                data.addColumn('number', "Impressions");
                data.addColumn('number', "ctr");
                data.addColumn('number', "Position");
                {% if graphData is defined %}
                    data.addRows([
                        {% for date, row in graphData %}
                        [new Date('{{ date | date("Y-m-d") }}'),
                            {{ row.clicks }}, {{ row.impressions }}, {{ row.ctr }}, {{ row.position }}],
                        {% endfor %}
                    ]);
                {% endif %}

                var materialOptions = {
                    width: 900,
                    height: 400,
                    series: {
                        0: {axis: 'Temps'},
                        1: {axis: 'Daylight'}
                    },
                    axes: {}
                };

                // Instantiate and draw our chart, passing in some options.
                var chartDiv = document.getElementById('chart_div');
                var materialChart = new google.charts.Line(chartDiv);
                materialChart.draw(data, materialOptions);
            }
        });
    </script>
    <script src="{{ asset('assets/vendor/mesour/jquery.ui.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('assets/modif.mesour.grid.min.js') }}"></script>
{% endblock %}

